$dark0: black;
$dark1: #1e1f21;
$dark2: #27282a;
$dark3: #303031;
$dark4: #333f36;
$dark5: #343537;
$dark6: #4a4b4d;
$light0: white;
$light1: #e0e0e0;
$light2: #dddddd;
$light3: #aaaaaa;
$light4: #a3a4a5;
$light5: #9a9a9b;
$light6: #8c8c8c;
$blue0: #027afd;
$blue1: #77acf1;
$purple0: #a550a7;
$pink0: #f74f9e;
$red0: #ff5257;
$red1: #f8626d;
$orange0: #f78218;
$yellow0: #ffc516;
$yellow1: #f9e466;
$green0: #62ba46;
$gold0: #ff9f0a;
$dark2-blur: rgba(39, 40, 43, .80);
