$icon-size: 30px;

// icon filename hover-color
$icons:
  email email blue0,
  github github blue0,
  linkedin linkedin-2 blue0,
  location address blue0,
  home home light1,
  education graduation-cap light1,
  experience backpack light1,
  industrial-experience laptop-coding light1,
  teaching-experience training light1,
  volunteer-experience volunteering light1,
  skills wizard light1,
  interests wish-list light1,
  personality camera-addon-identification light1,
  projects repository light1,
  contributions merge-git light1,
  honors prize light1,
  resume resume light1,
  blog blog light1,
  contact contact-us light1;

%icon-shared {
  width: $icon-size;
  height: $icon-size;
  background-size: contain;
  display: inline-block;
}


@each $section, $filename, $hover-color in $icons {
  .#{$section}-icon {
    background-image: url("../icons/ios-filled/light4/icons8-#{$filename}-50.png");
    position: relative;
    @extend %icon-shared;

    .#{$section}-icon-hover {
      background-image: url("../icons/ios-filled/#{$hover-color}/icons8-#{$filename}-50.png");
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 500ms;
      @extend %icon-shared;
    }
  }

  .#{$section}-icon-container {
    color: $light4;
    font-size: 12px;
    font-weight: 500;

    &:hover {
      .#{$section}-icon-hover {
        opacity: 1;
      }
    }
  }
}

.larger-icon {
  width: $icon-size + 10px;
  height: $icon-size + 10px;
}
